@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,400,400i,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500&display=swap');
@font-face {
    font-family: 'Alien League';
    src: url('../fonts/alien_league/alienleaguebold.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 200;
    color: #272727;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul li {
    list-style: none;
}

img,
input {
    width: 100%;
}


/* GERAIS */

.content {
    width: 90%;
    max-width: 1169px;
    margin: 0 auto;
}


/* HEADER */

header {
    width: 100%;
    background: #272727;
    position: fixed;
    z-index: 1000;
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .content .logo {
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/logomarca.png') no-repeat center center;
}

header .content .logo h1 {
    display: none;
}


/* Navegação */

header .content nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .content nav ul:after {
    content: '';
    clear: both;
    display: block;
}

header .content nav ul li.nav-item {
    float: left;
    border-bottom: 3px solid #272727;
    transition: ease-in-out .2s;
}

header .content nav ul li.nav-item:hover {
    border-bottom-color: #ff5959;
}

header .content nav ul li.nav-item a {
    width: auto;
    padding: 37px 10px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-size: .7em;
    font-weight: 600;
    color: white;
}

header .content nav ul li.nav-item a:hover {
    color: #ff5959;
    margin-top: 0px;
}

li.nav-item a.hot-sale {
    color: #ff5959 !important;
    font-family: 'Rajdhani';
}

header .content nav ul li.nav-item i:before {
    font-size: 7px;
    font-weight: 700;
    margin-left: 2px;
}

header .content nav ul ul {
    position: absolute;
    top: 100%;
    display: none;
    background: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    max-width: 510px;
}

header .content nav ul li:hover>ul {
    display: block;
}

header .content nav ul ul li {
    position: relative;
    float: left;
}

header .content nav ul ul li a {
    padding: 10px !important;
    text-align: center;
    width: 150px !important;
    color: initial !important;
    transition: ease-in-out .2s;
}

header .content nav ul ul li a:hover {
    color: #ff5959 !important;
}


/* Busca */

header .content .busca {
    width: 80px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-right: 1px solid rgba(255, 255, 255, .2);
    color: white;
}

header .content .busca span.active {
    display: inline;
    font-size: .6em;
    font-style: italic;
    margin-right: 8px;
}

header .content .busca i.active {
    display: inline;
    font-size: 1.4em;
}

header .content .busca i:before {
    margin: 0;
}

.busca span,
.busca i {
    display: none;
}

.busca form {
    display: none;
}

.busca form.active {
    display: flex;
    position: absolute;
    top: 0;
    right: 222px;
    width: 630px !important;
    height: 94px;
    background: white;
    z-index: 1000 !important;
}

.busca form.active input {
    border: none;
    padding-left: 20px;
    font-size: 1.3em;
    outline: none;
}

.busca form.active button.active {
    border: none;
    background: white;
    font-size: 1.5em;
    width: 60px;
    cursor: pointer;
}

.busca form.active button i {
    display: block;
}


/* Atendimento */

header .content .atendimento {
    width: 70px;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
}

header .content .atendimento>li {
    line-height: 87px;
    cursor: pointer;
    float: left;
    border-bottom: 3px solid #272727;
}

header .content .atendimento>li:hover {
    border-bottom-color: #ff5959;
}

header .content .atendimento:after {
    content: none !important;
}

header .content .atendimento>li i {
    font-size: 1.5em;
    color: white;
    border-bottom: 3px solid #272727;
}

header .content .atendimento>li i:before {
    margin: 0;
    font-weight: 700;
}

header .content .atendimento>li ul {
    width: 105px !important;
}

header .content .atendimento>li ul>li {
    line-height: 30px;
}

header .content .atendimento>li ul>li a {
    font-size: .7em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}


/* Mini-cart */

header .content .cart {
    padding: 0 10px;
    width: 57px;
    height: 94px;
    background: #ff5959;
    cursor: pointer;
    text-align: center;
}

header .content .cart i {
    font-size: 1.5em;
    color: white;
    display: block;
    line-height: 90px;
    z-index: 2;
}

header .content .cart i:before {
    margin: 0;
    font-weight: 600;
    font-size: 25px;
}

header .content .cart i:after {
    content: '3';
    position: relative;
    top: -72px;
    right: -7px;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50%;
    background: #333;
    line-height: 25px;
    text-align: center;
    font-size: .6em;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: white;
}


/* ------ FULL BANNER ------- */

section.full-banner {
    width: 100%;
    min-height: 600px;
    position: relative;
    top: 90px;
    background: url('../img/banner-full.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* ------ BANNER RÉGUA ------- */

div.banner-regua {
    width: 1169px;
    height: auto;
    background: white;
    position: absolute;
    bottom: -90px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    padding: 30px 0;
}

.banner-box {
    width: 250px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid rgba(51, 51, 51, .2);
}

.banner-box:last-child {
    border-right: none;
}

.banner-box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.banner-box-content i {
    font-size: 2.3em;
    color: #ff5959;
    margin-bottom: 5px;
}

.banner-box-content span.title {
    font-weight: 600;
    font-size: .8em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.banner-box-content span.description {
    font-size: .7em;
}

.banner-box-content span.italic {
    font-style: italic;
    font-size: .7em;
}


/* ------ MINI BANNER ------- */

section.mini-banner {
    width: 100%;
    height: auto;
    padding: 20px 0;
    margin-top: 200px;
}

section.mini-banner .content {
    display: flex;
    justify-content: space-between;
}

section.mini-banner .content a img {
    width: 365px;
    height: 265px;
}


/* ------ VITRINE ------- */

section.vitrine {
    width: 100%;
    padding: 20px 0;
}

section.vitrine .content {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(51, 51, 51, .2);
}

section.vitrine .content h3 {
    display: block;
    text-align: center;
    font-size: 2.5em;
    font-weight: 100;
    text-transform: uppercase;
    color: #868585;
    margin-bottom: 50px;
}

div.feeds {
    padding: 10px
}

div.feed {
    padding: 30px 20px
}

div.feed:hover {
    z-index: -1000;
}

div.feed img {
    margin-bottom: 20px;
}

div.feed span,
div.feed s {
    display: block;
    line-height: 23px;
}

div.feed span.title {
    font-size: .85em;
}

div.feed s.de {
    font-size: .8em;
    color: #868585;
}

div.feed span.a-vista {
    font-size: 1.2em;
    font-weight: bold;
}

div.feed span.a-prazo {
    font-size: .8em;
}

.slick-prev:before,
.slick-next:before {
    content: none;
}

.slick-prev,
.slick-next {
    color: #272727 !important;
    margin: 0 auto;
}

.slick-prev:hover,
.slick-next:hover {
    color: #272727;
}

[class^="flaticon-"]:before {
    margin-left: 0;
}


/* .slick-prev {
    text-align: right;
}

.slick-next {
    text-align: left !important;
} */


/* ------ NEWSLATTER ------- */

section.newslatter {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

section.newslatter .content {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(51, 51, 51, .2);
    display: flex;
    justify-content: center;
    align-items: center;
}

section.newslatter .content .box-um,
section.newslatter .content .box-tres {
    width: 266px;
    padding: 0 10px;
}

section.newslatter .content .box-dois {
    width: 467px;
    padding: 0 10px;
    font-size: .9em;
}

section.newslatter .content .box-um {
    font-family: 'Alien League';
    font-size: 2em;
    text-align: right;
    text-transform: uppercase;
    line-height: 35px;
    letter-spacing: -1px;
}

section.newslatter .content .box-um span {
    display: block;
    font-size: 1.5em;
}

section.newslatter .content .box-tres {
    padding: 0;
}

section.newslatter .content .box-tres form {
    width: 100%;
    display: flex;
}

section.newslatter .content .box-tres form input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #333;
    border: 1px solid #333;
    box-sizing: border-box;
    outline: none;
}

section.newslatter .content .box-tres form button {
    font-size: 1.3em;
    padding: 10px;
    border: none;
    background: #333;
    color: white;
    position: relative;
    right: 0;
}

section.newslatter .content .box-quatro {
    text-align: center;
    font-size: .9em;
    width: 200px;
    padding: 0 10px;
}

section.newslatter .content .box-quatro i {
    font-size: 1.3em;
    margin-left: 5px;
}


/* ------ RODAPÉ ------- */

footer {
    width: 100%;
    padding: 20px 0;
}

.footer-info,
.footer-copyright {
    width: 100%;
}

.footer-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid rgba(51, 51, 51, .2);
    padding-bottom: 10px;
}

.footer-info .info-institucional,
.footer-info .info-duvidas,
.footer-info .info-atendimento {
    width: 175px;
    text-align: left;
}

.footer-info .info-institucional h5,
.footer-info .info-duvidas h5,
.footer-info .info-atendimento h5,
.footer-info .info-pagamento h5 {
    font-size: .9em;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-info .info-pagamento {
    width: 350px;
    text-align: left;
}

.footer-info .info-fanpage {
    width: 292px;
    text-align: center;
}

.footer-info .info-institucional ul,
.footer-info .info-duvidas ul,
.footer-info .info-atendimento ul,
.footer-info .info-pagamento ul {
    width: 100%;
}

.footer-info .info-institucional ul li a,
.footer-info .info-duvidas ul li a,
.footer-info .info-atendimento ul li a {
    font-size: .8em;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    transition: ease-in-out .2s;
}

.footer-info .info-institucional ul li a:hover,
.footer-info .info-duvidas ul li a:hover,
.footer-info .info-atendimento ul li a:hover {
    color: #ff5959;
}

.footer-info .info-atendimento ul li {
    font-size: .8em;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 2em;
    outline: none;
}

.footer-info .info-atendimento ul li i {
    font-size: 1.5em;
}

.footer-info .info-atendimento ul li:nth-child(3) {
    text-transform: lowercase !important;
}

.footer-info .info-atendimento ul li a {
    font-weight: bold;
    font-size: .8em;
}

.footer-info .info-pagamento img {
    width: 100%;
}

.footer-info .info-fanpage {
    padding-left: 10px;
}

.footer-info .info-fanpage img {
    width: 100%;
}

.footer-copyright {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-copyright>img {
    width: 186px;
    height: 21px;
}

.footer-copyright p {
    font-size: .7em;
    color: #9c9999;
    margin-bottom: 5px;
}

.footer-copyright .design-by {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-copyright .design-by span {
    text-transform: uppercase;
    font-size: .8em;
    margin: 8px 5px 0 0;
}

.footer-copyright .design-by img {
    width: 58px;
    height: 26px;
}